.badge {
  background-color: #fff;
  border-radius: 20px;
  padding: 4px 7px 5px 5px;
  font-weight: 500;
  font-size: 11px;
  line-height: 105%;
  color: #8b8b8b;
  border: none !important;
}

.badge:hover {
  background-color: #fff !important;
}

.button {
  font-weight: 500;
  font-size: 11px;
  color: #666;
  background-color: rgba(198, 198, 198, 0.3) !important;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 10px;
  width: 100%;
}
