.card {
  display: flex;
  flex-direction: column;
  background-color: var(--card);
  color: var(--card-foreground);
  border: 1px solid var(--border);
  border-radius: 15px;
  box-shadow: var(--shadow-sm);
  max-width: 210px;
}

.cardHeader {
  display: grid;
  align-items: start;
  grid-template-rows: auto auto;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 10px;
}

.cardHeader[data-slot='card-action'] {
  grid-template-columns: 1fr auto;
}

.cardHeader.hasBorderBottom {
  padding-bottom: 1.5rem;
}

.cardTitle {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  line-height: 115%;
  color: #292928;
}

.cardDescription {
  color: var(--muted-foreground);
  font-size: 0.875rem;
  font-family: 'Inter', sans-serif;
}

.cardAction {
  grid-column-start: 2;
  grid-row: 1 / span 2;
  align-self: start;
  justify-self: end;
}

.cardFooter {
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.cardFooter.hasBorderTop {
  padding-top: 1.5rem;
}
